<!--<p id="notice"><%= notice %></p>-->

<p>
  <%= image_tag @pin.image.url(:medium) %><br>
  <%= @pin.description %>
</p>
 <strong>posted by: <%= @pin.user.name %></strong><br>

<% if @pin.user == current_user %>    
	<%= link_to 'Edit', edit_pin_path(@pin) %> | <%= link_to 'Back', pins_path %>
<% end %>

